/* === Global Styles === */
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../Images/MOD_Logo_Animated_Raw.gif') no-repeat center center fixed;
  background-size: cover;
}

/* === Text Section === */
.text-block {
  font-family: 'PT Mono', monospace;
  max-width: 800px;
  padding: 40px;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-title {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.text {
  text-align: left;
  font-size: 1em;
  width: 100%;
}

.text p {
  line-height: 1.2;
}

.highlight {
  color: #d2f0ff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-auto-rows: 30px;
  gap: 1px;
  margin-top: 30px;
  justify-content: center;
}

.cell {
  width: 30px;
  height: 30px;
}
