html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hidden-text {
  position: absolute;
  color: black;
  transition: color 0.3s;
  font-family: 'PT Mono', monospace;
  font-size: 1.2em;
  pointer-events: auto;
  user-select: none;
}

.special-hidden-text {
  position: absolute;
  color: rgb(0, 0, 0);
  transition: color 0.3s;
  font-family: 'PT Mono', monospace;
  font-size: 1.2em;
  pointer-events: auto;
  user-select: none;
}

.hidden-text:hover {
  color: white;
  cursor: default;
}

.special-hidden-text:hover {
  color: rgb(255, 0, 0);
  cursor: default;
}
